KyLuat/App_WebReferences/SOA/ServiceKyLuat.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DanhSachKyLuat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DanhSachKyLuatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DanhSachKyLuatResult" type="tns:ArrayOfViewALLCB" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfViewALLCB">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ViewALLCB" nillable="true" type="tns:ViewALLCB" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ViewALLCB">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HoTenKhaiSinh" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TenGoiKhac" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NgaySinh" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GioiTinh" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HoKhauThuongTru" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NoiSinh" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QueQuanTinh" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QueQuanHuyen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QueQuanXa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NoiOHienNay" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DanToc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TonGiao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ThanhPhanGiaDinh" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TinhTrangHonNhan" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SoCMND" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NgayCapCMND" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NoiCapCMND" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Image" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SDT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NgheNghiepKhiTuyenDung" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NgayTuyenDung" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TenCoQuanTuyenDung" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NgayVaoCoQuanHienTai" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NgayNhapNgu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NgayXuatNgu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QuanHamCaoNhat" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TrinhDoHocVan" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HocHam" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HocVi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TrinhDoQuanLyNhaNuoc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TrinhDoLyLuanChinhTri" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TrinhDoChuyenMonCaoNhat" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ChuyenNganh" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TrinhDoTinHoc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TrinhDoNgoaiNguThuNhat" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NgoaiNguThuNhat" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TrinhDoNgoaiNguThuHai" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NgoaiNguThuHai" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KhenThuong" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KyLuat" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TinhTrangSucKhoe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LaThuongBinh" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SoHieuCB" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DoiTuong" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HuongLuong" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DonViQuanLy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DonViCongTac" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MaNgachCongChuc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NgayHuong" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BacLuong" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HeSoLuong" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="ChucVuHienTai" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ChucVuKiemNhiem" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PhuCapChucVu" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="CongViecChinhDangLam" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NgayVaoDang" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ChiBoKetNap" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NguoiGioiThieu1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ChucVuNguoiGioiThieu1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NgheNghiepKhiVaoDang" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NguoiGioiThieu2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GhiChuVeNguoiGioiThieu2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NgayChinhThucVaoDang" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SoLyLichDangVien" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SoTheDangVien" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MaCoSoDangQLDangVien" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ChucVuTrongDang" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NgayBiKyluat" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LyDoKyLuat" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="TimKiemKyLuat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tk" type="tns:TimKiem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TimKiem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="HoTen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GioiTinh" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MaCB" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ChuyenMonNghiepVu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TrinhDoHocVan" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NgheNghiep" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ThanhPhanGiaDinh" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DanToc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TonGiao" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="TimKiemKyLuatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TimKiemKyLuatResult" type="tns:ArrayOfViewALLCB" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LuuKyLuat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="kh" type="tns:KyLuat" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="KyLuat">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NgayBiKyluat" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LyDoKyLuat" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LuuKyLuatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LuuKyLuatResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetThongTin1KyLuat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MaCB" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetThongTin1KyLuatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetThongTin1KyLuatResult" type="tns:ViewALLCB" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DanhSachKyLuatSoapIn">
    <wsdl:part name="parameters" element="tns:DanhSachKyLuat" />
  </wsdl:message>
  <wsdl:message name="DanhSachKyLuatSoapOut">
    <wsdl:part name="parameters" element="tns:DanhSachKyLuatResponse" />
  </wsdl:message>
  <wsdl:message name="TimKiemKyLuatSoapIn">
    <wsdl:part name="parameters" element="tns:TimKiemKyLuat" />
  </wsdl:message>
  <wsdl:message name="TimKiemKyLuatSoapOut">
    <wsdl:part name="parameters" element="tns:TimKiemKyLuatResponse" />
  </wsdl:message>
  <wsdl:message name="LuuKyLuatSoapIn">
    <wsdl:part name="parameters" element="tns:LuuKyLuat" />
  </wsdl:message>
  <wsdl:message name="LuuKyLuatSoapOut">
    <wsdl:part name="parameters" element="tns:LuuKyLuatResponse" />
  </wsdl:message>
  <wsdl:message name="GetThongTin1KyLuatSoapIn">
    <wsdl:part name="parameters" element="tns:GetThongTin1KyLuat" />
  </wsdl:message>
  <wsdl:message name="GetThongTin1KyLuatSoapOut">
    <wsdl:part name="parameters" element="tns:GetThongTin1KyLuatResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceKyLuatSoap">
    <wsdl:operation name="DanhSachKyLuat">
      <wsdl:input message="tns:DanhSachKyLuatSoapIn" />
      <wsdl:output message="tns:DanhSachKyLuatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TimKiemKyLuat">
      <wsdl:input message="tns:TimKiemKyLuatSoapIn" />
      <wsdl:output message="tns:TimKiemKyLuatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LuuKyLuat">
      <wsdl:input message="tns:LuuKyLuatSoapIn" />
      <wsdl:output message="tns:LuuKyLuatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetThongTin1KyLuat">
      <wsdl:input message="tns:GetThongTin1KyLuatSoapIn" />
      <wsdl:output message="tns:GetThongTin1KyLuatSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceKyLuatSoap" type="tns:ServiceKyLuatSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DanhSachKyLuat">
      <soap:operation soapAction="http://tempuri.org/DanhSachKyLuat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemKyLuat">
      <soap:operation soapAction="http://tempuri.org/TimKiemKyLuat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LuuKyLuat">
      <soap:operation soapAction="http://tempuri.org/LuuKyLuat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetThongTin1KyLuat">
      <soap:operation soapAction="http://tempuri.org/GetThongTin1KyLuat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceKyLuatSoap12" type="tns:ServiceKyLuatSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DanhSachKyLuat">
      <soap12:operation soapAction="http://tempuri.org/DanhSachKyLuat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemKyLuat">
      <soap12:operation soapAction="http://tempuri.org/TimKiemKyLuat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LuuKyLuat">
      <soap12:operation soapAction="http://tempuri.org/LuuKyLuat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetThongTin1KyLuat">
      <soap12:operation soapAction="http://tempuri.org/GetThongTin1KyLuat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceKyLuat">
    <wsdl:port name="ServiceKyLuatSoap" binding="tns:ServiceKyLuatSoap">
      <soap:address location="http://localhost:8899/SOA/Service/ServiceKyLuat.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceKyLuatSoap12" binding="tns:ServiceKyLuatSoap12">
      <soap12:address location="http://localhost:8899/SOA/Service/ServiceKyLuat.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>